{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}


<!-- Title -->
{% block title %}{% trans 'Password change successful' %}{% endblock %}


<!-- Breadcrumbs -->
{% block breadcrumbs %}
<div class="breadcrumbs">
	<ul class="breadcrumb">
		<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
		<li class="active">{% trans 'Password change' %}</li>
	</ul>
</div>
{% endblock %}


<!-- Content -->
{% block content %}
	<div class="well">
		<h3 class="title">{% trans 'Password change successful' %}</h3>
		<p>{% trans 'Your password was changed.' %}</p>
	</div>
{% endblock %}