{% load url from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}admin/css/bootstrap.css" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}admin/css/rewrite.css" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}admin/css/bootstrap-responsive.css" />
		{% block extrastyle %}{% endblock %}
		{% block extrahead %}{% endblock %}
		{% block blockbots %}
		<meta name="robots" content="NONE,NOARCHIVE" />
		{% endblock %}
	</head>
	{% load i18n %}
	<body>
		
		<!-- Container -->
		<div class="container-fluid">
			
			<div class="row">
				<div class="offset3 span6">
					{% block content %}
						{% block object-tools %}{% endblock %}
						{{ content }}
					{% endblock %}
				</div>
			</div>
			
			{% block footer %}{% endblock %}
		</div>

		<script src="{{ MEDIA_URL }}admin/js/jquery.min.js"></script>
		<script src="{{ MEDIA_URL }}admin/js/bootstrap.min.js"></script>

	</body>
</html>
